{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andro Jebina - Portfolio</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMtrliBMCMKTyk8X3zpbDpXdCLUtusPj697fHAR/5mcr" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDQug9qJllfw4pNLlhnNTkCFHzAVBRheH9diLvGRem5+Rg2FzA8ZGN9540SQ"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="star" style="top:20%; left:30%;"></div>
    <div class="star" style="top:40%; left:70%;"></div>
    <div class="star" style="top:60%; left:50%;"></div>
    <div class="star" style="top:80%; left:20%;"></div>
    <div class="star" style="top:45%; left:45%;"></div>
    <div class="star" style="top:40%; left:78%;"></div>
    <div class="star" style="top:15%; left:32%;"></div>
    <div class="star" style="top:30%; left:24%;"></div>
    <div class="star" style="top:61%; left:55%;"></div>
    <div class="star" style="top:69%; left:59%;"></div>


    <div class="container">
        <div class="container-fluid navss">
            <ul class="navbar-nav">
                <li class="nav-item" id="1">
                    <a class="nav-link active" href="{% url 'index' %}" style="text-decoration:none"><i
                            class="bi bi-house-door"></i> Home</a>
                </li>
                <li class="nav-item" id="2">
                    <a class="nav-link" href="{% url 'education' %}" style="text-decoration:none"><i class="bi bi-book"></i>
                        Education</a>
                </li>
                <li class="nav-item" id="3">
                    <a class="nav-link" href="{% url 'skill' %}" style="text-decoration:none"><i class="bi bi-award"></i>
                        Skills</a>
                </li>
                <li class="nav-item" id="4">
                    <a class="nav-link" href="{% url 'project' %}{% url 'contact' %}" style="text-decoration:none"><i class="bi bi-folder"></i>
                        Projects</a>
                </li>
                <li class="nav-item" id="5">
                    <a class="nav-link" href="{% url 'contact' %}" style="text-decoration:none"><i class="bi bi-envelope"></i>
                        Contact</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="container content">
    <h2>hello</h2>
</body>

</html>